#particles {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.particle {
    height: 15px;
    width: 15px;
    position: absolute;
    border: #d5d5d57a 2px solid;
}

.particle:nth-of-type(1) {
    animation: anim-1 10s linear infinite;
}

.particle:nth-of-type(4) {
    animation: anim-1 10s linear infinite;
}

.particle:nth-of-type(5) {
    animation: anim-1 5s linear infinite;
}

.particle:nth-of-type(10) {
    animation: anim-2 10s linear infinite;
}

.particle:nth-of-type(20) {
    animation: anim-3 5s linear infinite;
}

@keyframes anim-1 {
    from {
        transform: translate(0, 0) rotate(0deg);
    }

    to {
        transform: translate(100vw, 100vh) rotate(300deg);
    }
}

@keyframes anim-2 {
    from {
        transform: translate(0, 0) rotate(0deg);
    }

    to {
        transform: translate(-100vw, -100vh rotate(300deg));
    }
}

@keyframes anim-3 {
    from {
        transform: translate(0, 0) rotate(0deg);
    }

    to {
        transform: translate(100vw, -100vh) rotate(300deg);
    }
}